doctype html
html(ng-app="rtm")

  head

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{pageTitle}
  
    block head-styles
      link(href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
      link(href="/static/css/style.css" rel="stylesheet")

  body

    .container

      .row
        a.label.label-primary(href="/") Home

      block body-content
    
    block body-scripts
      script(src="/static/bower_components/angular/angular.min.js")
      script(src="/static/js/mqttws31.js")
      script(src="/static/js/app.js")
